<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>National Park Service</title>

  <!-- Bootstrap core CSS -->
  <!-- Look at http://flask.pocoo.org/docs/1.0/patterns/templateinheritance/ to share css/javascript between pages -->
  <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

</head>

<body>
  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h1 class="mb-3">National Park Service Search</h1>
            <p class="mb-5">Use name, state, designation, and keyword filters to find your desired destination, as well as nearby visitor centers, campgrounds, events, etc!</p>
            <form action="/" method="post">
              <div class="input-group input-group-newsletter">
                <input type="text" class="form-control" placeholder="Arcadia, Yosemite, Grand Canyon, etc." id="name">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" disabled>Name</button>
                </div>
              </div>
              <br>
              <div class="input-group input-group-newsletter">
                <input type="text" class="form-control" placeholder="CA, NJ, MD, etc." name="state" aria-label="State" aria-describedby="basic-addon">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">State</button>
                </div>
              </div>
              <br>
              <div class="input-group input-group-newsletter">
                <input type="text" class="form-control" placeholder="National Park, National Monument, National Preserve, etc." aria-label="Designation" aria-describedby="basic-addon">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">Designation</button>
                </div>
              </div>
              <br>
              <div class="input-group input-group-newsletter">
                <input type="text" class="form-control" placeholder="Sequoias, coyotes, desert, etc." aria-label="Designation" aria-describedby="basic-addon">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">Keyword</button>
                </div>
              </div>
              <br>
              <div class="input-group-append">
                <input type="submit" class="btn btn-secondary"></input>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/style.min.js"></script>

</body>

</html>
